* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: auto;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}

/* logo */
.div-logo {
	background-color: white;
	text-align: center;
}

.darkmode .div-logo {
	background-color: hsl(217, 27%, 12%);
	text-align: center;
}

.logo {
	text-decoration: none;
	color: red;
	font-size: 40px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-icon {
	width: 80px;
}

.title-logo {
	background-color: red;
	color: white;
	padding: 4px 8px;
	text-align: center;
	border-radius: 5px;
}

/* menu */
.container {
	margin: 0 auto;
	/* width: 75%; */
	/* height: 25vh; */
	z-index: 99;
}

.mobile-nav {
	background: #555;
	color: #fff;
	display: none;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	padding: 20px;
	font-size: 20px;
}

.mobile-nav .nav-btn {
	cursor: pointer;
}

.nav {
	background: white;
	display: flex;
	justify-content: center;
	z-index: 50;
	position: relative;
	border-bottom: 1px solid red;
}

.relative {
	position: relative;
	top: 0;
	width: 100%;
}

.sticky {
	position: sticky;
	top: 0;
	width: 100%;
}

ul {
	list-style: none;
	display: flex;
	background: black;
}

ul li .nav-link,
ul li {
	cursor: pointer;
	font-size: 20px;
	text-decoration: none;
}

ul li {
	display: block;
}

ul li .nav-link {
	padding: 15px 25px;
	background: white;
	color: black;
	display: block;
}

li .nav-link:hover {
	background-color: red;
	color: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.darkmode li .nav-link:hover {
	background-color: red;
	color: white;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

ul li ul {
	background: #555;
	padding-left: 5px;
	position: absolute;
	width: 10em;
	display: none;
}

li ul li .nav-link {
	padding: 10px;
	background: #555;
	color: #fff;
}

li ul li .nav-link:hover {
	background: #555;
}

.darkmode li ul li .nav-link:hover {
	background: #555;
}

ul li ul li {
	position: relative;
}

ul li ul li ul {
	position: absolute;
	top: 5px;
	left: 100%;
}

li:hover>ul,
li:active>ul {
	display: block;
}

.dropdown {
	position: relative;
}

.dropdown>.nav-link,
.dropdown>.nav-link:hover,
.dropdown.active>.nav-link,
.dropdown.active>.nav-link:hover {
	background: url(./img/arrow.svg);
	background-position: right;
	background-size: 15px;
	background-repeat: no-repeat;
	color: black;
}

.nav-link-gestimag {
    display: inline-block; /* Permet d'ajuster la taille */
    background-color: #007BFF; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 15px 30px; /* Espacement intérieur */
    text-decoration: none; /* Enlève le soulignement */
    font-size: 20px; /* Taille de la police */
    border-radius: 25px; /* Coins arrondis */
    transition: background-color 0.3s, transform 0.3s; /* Effet de transition */
    box-shadow: 0 4px 15px rgba(0, 123, 255, 0.3); /* Ombre portée */
}

.nav-link-gestima:hover {
    background-color: #0056b3; /* Change la couleur au survol */
    transform: translateY(-3px); /* Légère élévation au survol */
}

.nav-link-gestima:active {
    transform: translateY(1px); /* Réduction de la taille lors du clic */
}

@media screen and (max-width: 768px) {
	.mobile-nav {
		display: flex;
		margin-bottom: -300px;
	}

	ul.nav {
		visibility: hidden;
		transform: translateY(-120%);
		opacity: 0;
		transition: 0.5s ease-in-out;
	}

	ul.nav.toggle {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}

	ul {
		flex-direction: column;
	}

	ul li {
		overflow: hidden;
		border: none;
	}

	ul li ul {
		position: relative;
		width: 90%;
		padding: 0 5%;
		transform: translateX(-100%);
		display: block;
		visibility: hidden;
		height: 0;
		overflow: hidden;
		transition: transform 400ms ease;
	}

	ul li ul li ul {
		position: initial;
		background: #555;
		top: 0;
		width: 96%;
		padding: 0 2%;
	}

	li:hover>ul,
	li:active>ul {
		display: block;
	}

	li.active>ul {
		transform: translateX(0);
		visibility: visible;
		height: 100%;
	}

	.dropdown>.nav-link,
	.dropdown>.nav-link:hover,
	.dropdown.active>.nav-link,
	.dropdown.active>.nav-link:hover {
		background-position: 95% 50%;
	}

	li .nav-link:hover {
		border-radius: 12px;
	}
}

/* bouton-retour */
#scroll_to_top {
	/* position: fixed;
	width: 50px;
	height: 25px;
	bottom: 125px;
	right: 30px; */
	display: none;
}

/* #scroll_to_top img {
	width: 50px;
	border-radius: 50px;
  } */

/* main */
.main {
	width: 50%;
	position: relative;
	top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.darkmode .main {
	color: white;
}

section {
	/* margin-bottom: 50px; */
	margin-bottom: 25vh;
}

/* animation-info */
.marquee {
	overflow: hidden;
}

.marquee>.info {
	color: grey;
	display: inline-block;
	white-space: nowrap;
	animation: defilement-rtl 30s infinite linear;
	/* cursor: pointer; */
	padding: 10px 2em 10px 100%;
}

/* .marquee:hover>.info {
	animation-play-state: paused;
} */

@keyframes defilement-rtl {
	0% {
		-webkit-transform: translate(0);
		transform: translate(0);
	}

	100% {
		-webkit-transform: translate(-100%);
		transform: translate(-100%);
	}
}

.marquee>.info {
	font-size: 1.5em;
}

/* .informations {
	text-decoration: none;
	color: yellow;
}

.informations:hover {
	color: rgb(255, 255, 150);
}

.informations:active {
	color: rgb(255, 136, 0);
} */

#minuteur {
	color: red;
	display: inline;
}

/* footer */
footer {
	display: flex;
	/* justify-content: center; */
	padding: 20px 5px;
	/* background-color: black; */
	background: linear-gradient(45deg, white, #ffa3a3, white);
	color: black;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
	box-shadow: #ff0000 0 0 10px;
}

/* accueil */
* {
	text-decoration: none;
}

/* formulaire de contact */
fieldset {
	background-color: white;
	border-color: transparent;
	/* border-top-right-radius: 20px;
	border-top-left-radius: 20px; */
	border-radius: 20px;
	transition: all 0.5s;
	box-shadow: black 0 0 10px;
}

/* fieldset:hover {
	background-color: darkorange;
} */

legend {
	font-size: 50px;
	margin: auto;
	margin-bottom: 4%;
	font-weight: bold;
	background-color: red;
	color: white;
	border-radius: 12px;
}

.contener-contacts {
	width: 80%;
	display: inline-block;
}

/* .input, textarea {
	border-radius: 10px;
} */

.blc-contact {
	margin-bottom: 4%;
}

.contact {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* width: 100%; */
	/* height: calc(2rem + 4px); */
	/* border: 1px solid rgb(187, 187, 187); */
	margin-bottom: 10px;
	height: 45px;
	display: block;
	width: 100%;
	border-radius: 30px;
	border: none;
	outline: none;
	background-color: #f7f7f7;
	font-size: 16px;
	padding: 0 15px;
	transition: all 0.3s ease;
	color: #646f87;
	margin-top: 10px;
	box-shadow: black 0 0 1px;
}

.contact-message {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	/* width: 100%; */
	/* height: calc(2rem + 4px); */
	/* height: 10rem; */
	height: 240px;
	display: block;
	width: 100%;
	border-radius: 30px;
	border: none;
	outline: none;
	background-color: #f7f7f7;
	font-size: 16px;
	padding: 0 15px;
	padding-top: 15px;
	transition: all 0.3s ease;
	color: #646f87;
	resize: none;
	margin-top: 10px;
	box-shadow: black 0 0 1px;
}

.blc-btn {
	display: grid !important;
}

.btn {
	border-radius: 20px;
	border: none;
	padding: 10px 4px;
	font-weight: 500;
	color: white;
	background-color: red;
	margin-bottom: 20px;
}

.btn:hover {
	background-color: rgb(255, 55, 55);
	cursor: pointer;
}

/* responsive */
@media screen and (max-width: 1000px) {
	.div-logo {
		text-align: center;
		margin-top: 0;
	}

	.main {
		width: 95%;
	}

	.contener-contacts {
		width: 100%;
		display: inline-block;
	}

	#scroll_to_top {
		display: none;
		position: fixed;
		width: 50px;
		height: 25px;
		bottom: 125px;
		right: 30px;
	}

	#scroll_to_top img {
		width: 50px;
		border-radius: 50px;
	}

	footer {
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.footer_block::after {
		content: '';
		display: block;
		width: 60%;
		height: 1px;
		border-top: 1px solid white;
		margin: 1rem auto;
	}
}

.change {
	cursor: pointer;
	border: 1px solid #555;
	border-radius: 20%;
	width: 20px;
	text-align: center;
	padding: 5px;
	margin-left: 8px;
}

.dark {
	background-color: hsl(215, 27%, 8%);
	color: black;
}

.light {
	background-color: white;
}

.switch {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
	margin-right: 0.5rem;
	color: black;
}

.switch-light,
.switch-dark {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: center;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in;
}

.switch-light {
	font-size: 1.3rem;
	visibility: visible;
	color: var(--black-300);
}

.darkmode .switch-light {
	font-size: 0rem;
	visibility: hidden;
}

.switch-dark {
	font-size: 0rem;
	visibility: hidden;
	color: var(--white-100);
}

.darkmode .switch-dark {
	font-size: 1.3rem;
	visibility: visible;
}

body.darkmode {
	background-color: hsl(215, 27%, 8%);
}

.darkmode .nav {
	background: hsl(217, 27%, 12%);
}

.darkmode ul li a {
	background: hsl(217, 27%, 12%);
	color: white;
}

.darkmode footer {
	background: linear-gradient(45deg, black, #f00, black);
	color: white;
}

.darkmode .switch {
	color: white;
}

.darkmode fieldset {
	background-color: var(--night-300);
	border-color: transparent;
	border-radius: 20px;
	transition: all 0.5s;
	box-shadow: white 0 0 10px;
}

.darkmode .contener-contacts form label {
	color: white;
}