.wrapper {
    position: fixed;
    bottom: 50px;
    right: -400px;
    max-width: 345px;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.wrapper.show {
    right: 20px;
}

.wrapper header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

header i {
    color: #4070f4;
    font-size: 32px;
}

header h2 {
    color: #4070f4;
    font-weight: 500;
}

.wrapper .data {
    margin-top: 16px;
}

.wrapper .data p {
    color: #333;
    font-size: 16px;
}

.data p a {
    color: #4070f4;
    text-decoration: none;
}

.data p a:hover {
    text-decoration: underline;
}

.wrapper .buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons .button {
    border: none;
    color: #fff;
    padding: 8px 0;
    border-radius: 4px;
    background: #4070f4;
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    transition: all 0.2s ease;
}

.buttons #acceptBtn:hover {
    background-color: #034bf1;
}

#declineBtn {
    border: 2px solid #4070f4;
    background-color: #fff;
    color: #4070f4;
}

#declineBtn:hover {
    background-color: #4070f4;
    color: #fff;
}

.title-info-cookie {
    color: red;
    text-align: center;
}

.p-popup {
    font-size: 17px;
    text-align: center;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000a0;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    border-radius: 20px;
}

.content-cookie {
    position: absolute;
    background: white;
    width: 400px;
    padding: 2em 0;
    border-radius: 20px;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

/* responsive */
@media screen and (max-width: 1000px) {
    .wrapper {
        bottom: 10px;
        width: 75%;
    }
}